{% extends "customer/customerpage.html" %}

{% block content %}

<form method="post" enctype="multipart/form-data">

     <table class="table table-stripped">
        <thead>
            <tr>
                <th scope="col">SL NO</th>
                 <th scope="col">NAME</th>
                 <th scope="col">NUMBER</th>
                 <th scope="col">EMAIL</th>
                 <th scope="col">ADDRESS</th>
                <th scope="col">DELETE</th>
            </tr>
        </thead>
         <tbody>
            <tr>
                {% for i in cust %}
                <th scope="row">{{forloop.counter}}</th>
                <td>{{i.name}}</td>
                <td>{{i.contact_no}}</td>
                <td>{{i.email}}</td>
                <td>{{i.address}}</td>
                <td><a href="{% url 'customerdelete' i.id %}" class="btn btn-danger">DELETE</a></td>
            </tr>
         {% endfor %}
         </tbody>
     </table>

</form>

{% endblock %}
