{% extends "customer/customerpage.html" %}

{% block content %}

<form method="post">
    {% csrf_token %}
    <div class="form-group">
        <label class="form-control-label">Date</label>
        <input required class="form-control" readonly value="{{customer_booking.date}}">

    </div>
    <div class="form-group">
        <label class="form-control-label">STARTING TIME</label>
        <input required class="form-control" readonly value="{{customer_booking.starting_time}}">
    </div>
    <div class="form-group">
        <label class="form-control-label">ENDING TIME</label>
        <input required class="form-control" readonly value="{{customer_booking.ending_time}}">
    </div>

    <div>
        <button type="submit" class="btn btn-success">SUBMIT</button>
    </div>
     {% for message in messages %}
    <div class="alert alert-primary" role="alert">
        {{message}}
    </div>
    {% endfor %}


</form>

{% endblock %}