{% extends "admin/adminpage.html" %}

{% block content %}

<table class="table">
  <thead>
    <tr>
      <th scope="col">SL NO</th>
      <th scope="col">NAME</th>
      <th scope="col">DATE</th>
      <th scope="col">STARTING TIME</th>
      <th scope="col">ENDING TIME</th>
         <th scope="col">CREATE WORK</th>
    </tr>
  </thead>
  {% for i in work_assaign %}
  <tbody>
    <tr>
      <th scope="row">{{forloop.counter}}</th>
      <td>{{i.user}}</td>
      <td>{{i.schedule.date}}</td>
      <td>{{i.schedule.starting_time}}</td>
        <td>{{i.schedule.ending_time}}</td>
        <td><a href="{% url 'admin_work_create' i.id %}" class="btn btn-outline-warning">CREATE WORK</a></td>
    </tr>
  {% endfor %}
  </tbody>
</table>



{% endblock %}